* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2";
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  .navbar-logo {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height:80px;
  }
  .nav-logo{
    position:absolute;
    left:180px;
    top:10px;

  }
  
  .section-1 {
    width: 100%;
    height: 68vh;
    background: url(https://www.commlabindia.com/hubfs/cli-main-site/ad/top-elearning-solutions-provider-sec1bg.jpg) no-repeat;
    background-size: auto;
    background-image: center;
  }
  .section-1 h1{
    color:white;
font-size: 67px;
text-shadow: 1px 1px 2px #000;
  }

  .banner-heading {
    align-items: center;
    text-align: center;
    color:white;
    font-size: xx-large;
  }
  
  .banner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  
  .banner-headings{
    height: 15rem;
    margin-bottom: 1rem;
    perspective: 50rem;
    overflow: hidden;
  }
  
  .banner-headings span {
    font-family: "Oswald", sans-serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  
  .headings-1 {
    animation: animateHeading 12s 3s infinite;
  }
  
  .headings-2 {
    animation: animateHeading 12s 6s infinite;
  }
  
  .headings-3 {
    animation: animateHeading 12s 9s infinite;
  }
  
  .headings-4 {
    animation: animateHeading 12s 12s infinite;
  }
  
  @keyframes animateHeading {
    0% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
  
    3% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1.5rem;
    }
  
    25% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1.5rem;
    }
  
    28% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
  
    100% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
  }
  
  .banner-paragraph {
    font-size: 3rem;
    font-weight: 300;
    font-weight: lighter;
    color: #fff;
    align-items: center;

  }
 .column{
    float:left;

 }
 
  
  .section-2 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
  
  }
  
  .section-heading {
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 20px;
  }
  .para{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px
  }
  
  .column{
    width: 50%; 

}
.column2{
    width:50%;

}

    .section-2:after{
        content:"";
        display:table;
        clear:both;
    }
   
    .form-container {
      width: 60rem;
      padding: 20px; 
      border-radius: 5px;
      background-color :mintcream;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height:90vh;
      font-size: medium;

    }
    .form-column
    {
      display: flex;
      justify-content: space-between;
  }
  #country-name{
    font-size: 16px;
  }
  .form-group {
      flex: 1;
      margin-right: 10px; 
    }
  
  
    .form-group{
      display: block; margin-top: 5px;
    }


  input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

.form-submit {
  background: linear-gradient(to right,#3A866C 0%,#4BC098 100%);
    color: white; 
    border: none; 
    margin-top: 15px;
    padding: 10px 30px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 190px;
    font-size: x-large;
    display: inline-block;
}

    
  .section-3 {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    position:relative;
  }
  
  .section-3 h2 {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 45px;
    font-weight:bold;
    line-height: 1.25;
  }
  .section-3 body {
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    width: 100%;
    height: 300px;
    background-image: url('images/section03.webp');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 50px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 21%);
    grid-template-rows: repeat(4, 50vh); 
    gap: 20px; 
    padding: 40px 155px; 

  }
  
.card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100px; 
}

.card p {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}
  .card {
    background-color: rgba(255, 255, 255);
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
  }

.rapid{
  color: #000;
  margin-top:46%;
  font-size: xx-large;
  text-align: center;

}

.section-4{
    width: 100%;
    height: 470px;
    background-image: url('images/section4.webp');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 50px;
    font-size: 20px;
}

.float-container {
  padding: 20px;
  font-size: bold;
  
}

.float-child {
  width: 20%;
  padding:20px 50px;
  background-color: #fff;
  display: inline-block;
  color: #000;
  vertical-align: top;
  margin-top:5px;
  margin: 10px;
  font-weight: bold;
  font-size: 30px; 
  text-align: center; 
  line-height: 2.0; 
  height: 250px; 
}  


.section-5{
   margin-top: 425px;
    width: 100%;
    height: 300px;
    background-image: url('images/5.1.webp');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 60px;
   
    font-size: 30px;
}
 
.section-5 .badge {
  display: inline-block;
  margin: 10px; 
}

.section-5 .badge img {
  width: 100%;
  height: 245px; 
  margin: 0 10px;
}
.group-submit{
  background: linear-gradient(to right,#3A866C 0%,#4BC098 100%);
  color: white; 
  border: none; 
  margin-top: 15px;
  padding: 10px 30px; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: x-large;
  display: inline-block;
  text-align: center !important;
}


  .footer {
    width: 100%;
    height: 12rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    margin-top: 50px;
  }
  

  .footer-nav a {
    font-family: "MADE Soulmaze", serif;
    font-size: 2rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #862323;
  }
  
  .copyright {
    font-size: 2rem;
    color: #ddd;
  }
  

  